.leftGrid {
  width: 33.333333%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../../assets/images/building2.jpg") lightgray -112px -100.62px /
      188.043% 111.23% no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
}

.rightGrid {
  background-color: white;
  margin-left: 33.333333% !important;
  padding: 40px;
}

@media (max-width: 600px) {
  .leftGrid {
    position: relative;
  }

  .rightGrid {
    height: auto;
    margin-left: 0 !important;
    padding: 20px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .leftGrid {
    position: relative;
  }

  .rightGrid {
    height: auto;
    margin-left: 0 !important;
    padding: 20px;
  }
}
