.leftGrid {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url("../../assets/images/building.png");
  background-size: cover;
  background-position: center;
  border-right: 1px solid #e0e0e0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;

  @media (max-width: 600px) {
    position: relative;
    padding: 8px;
    background-color: #e0e0e0;
  }

  @media (min-width: 601px) and (max-width: 959px) {
    position: relative;
    padding: 12px;
    background-color: #cccccc;
  }
}

div.rightGrid {
  background-color: white;
  margin-left: 33.333333% !important;
  padding: 50px 40px;
  
}

@media (max-width: 599px) {
  .rightGrid {
    height: auto;
    margin-left: 0 !important;
    padding: 20px 20px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .rightGrid {
    height: auto;
    margin-left: 0 !important;
    padding: 30px 20px;
  }
}
