.box1 {
  padding: 79px 10%;
}

.box2 {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.box3 {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 122px;
}

.box4 {
  display: flex;
  align-items: center;
}

.pricingContainer {
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.5);
  margin: 90px auto;
  color: #848199;
  padding: 0px 45px;
}

.pricingItem2 {
  border-radius: 26px;
  background-color: #001283;
  box-shadow: 0px 42px 34px 0px rgba(82, 67, 194, 0.3);
  padding: 20px 30px;
  position: absolute;
  left: 0px;
  top: -50px;
}

.pricingFeature {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 232px;
  height: 350px;
}

@media (max-width: 600px) {
  .box1 {
    padding: 50px 0px;
  }

  .box2 {
    display: block;
    margin: 0 auto;
  }

  .box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  .pricingContainer {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 0px;
  }

  .pricingItem {
    padding: 0px;
  }

  .pricingItem2 {
    margin-top: 50px;
    top: 0;
    right: 0;
    position: relative;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .box1 {
    padding: 30px 8%;
  }

  .pricingItem2 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 50px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .box1 {
    padding: 55px 8%;
  }
}
