.subTitleBar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTitleBar .subTitle {
  color: #020615;
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
}

.subTitleBar .addTenancyButton {
  width: 196px;
  height: 51px;
  border-radius: 50px;
  background-color: #fff;
  color: #020615;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  padding: 3px 15px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3px;
  box-shadow: none;
}

.subTitleBar .addTenancyButton:hover {
  color: #fff;
  background-color: #001283;
}

.addTenancyButton:hover svg path {
  fill: #fff;
}

@media (max-width: 600px) {
  .subTitleBar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
  }

  .subTitleBar .subTitle {
    font-size: 22px;
  }

  .subTitleBar .addTenancyButton {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .subTitleBar .subTitle {
    font-size: 24px;
  }
}
